#title {
    color: blue; text-align: center; ;
}

#bio {
   color: crimson;text-align: center;
}

#img{

 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;

}

#links{

text-align: center;
font-size: xx-large;


}